ROOT_PATH=/

JWT_SECRET="AVwB2@.J4EOjDP8!O0-OFqU9AzUw.Wqd}fCmn>cc#%EdVQB1HB04IESXH}pysoy8"
API_TOKEN_DURATION_IN_MINUTES=15
REFRESH_TOKEN_DURATION_IN_MINUTES=14400
APP_REFRESH_WINDOW_IN_SECONDS=30

DB_HOST=localhost
DB_USER=example
DB_PASSWORD=s00p3RS3Kr3t!
DB_DATABASE=example