RewriteEngine On

# give PHP access to Authorization: Bearer header
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# redirect everything to api
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?(\w+).* $1.php [QSA,L]

# allow HTTP request methods beyond GET and POST
<Limit GET POST PUT DELETE OPTIONS>
    Order Allow,Deny
    Allow from all
</Limit>
# ...but don't let folks get all creative and send arbitrary methods!
<LimitExcept GET POST PUT DELETE OPTIONS>
    Order Deny,Allow
    Deny from all
</LimitExcept>

# Make sure $HTTP_RAW_POST_DATA is deprecated warning does not appear
php_value   always_populate_raw_post_data   -1
